apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: relayer-data-pvc
  namespace: cross-chain
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
