apiVersion: v1
kind: Service
metadata:
  name: relayer-service
  namespace: cross-chain
spec:
  selector:
    app: relayer
  ports:
  - name: metrics
    protocol: TCP
    port: 9090
    targetPort: 9090
  type: ClusterIP